:root {
  --gradient-color-1: rgba(72,178,162,1);
  --gradient-color-2: rgba(96,142,196,1);
  --gradient-color-3: rgba(9,9,121,1);

  --applet-bg-color: #313241;
    --highlight:#a0a0a0;
    --button-bg-color: #6645d6;
    --button-bg-active: #6040d1;
    --button-bg-disabled: #515261;
    

    --select-border: var(--highlight);
    --select-focus: var(--button-bg-active);
    --select-arrow: var(--select-border);
    --cell-max-width: 5em;
    --cell-label-bg:#373847;
  }