html {
  width: 100%;
  height: 100%;
}

body {
  height:100%;
  width:100%;

  background: rgb(72,178,162);
  background: linear-gradient(180deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 50%, var(--gradient-color-3) 100%);
  background-attachment: fixed;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-size: 18px;
  font-family: courier-prime, monospace;
  font-weight: 400;
  font-style: normal;  
  color: #f7faf7;
  line-height: 1em;
}

h1, h2, h3, h4 {
  font-family: mr-eaves-xl-modern-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 4em
}

h2 {
  font-size: 3em
}

h3 {
  font-size: 2em
}

h2.applet-title {
  text-align: center;
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 0.4em;
  margin-bottom:0.1em;
  position: relative;
}

.applet .applet-title .icon {
  display: block;
  position:absolute;
  left:0;
  top:0;
  font-size:0.60em;
  margin-top:0.2em;
  transition: transform 0.4s ease-in-out;
}

.icon {
  cursor: pointer;
}

.applet .applet-title .icon:hover {
  text-shadow:0px 0px 4px var(--highlight);
  transform:rotate(45deg);
}


.fixed-width-font {
  font-family: courier-prime, monospace;
  font-weight: 400;
  font-style: normal;
}

.fixed-width-font.bold {
  font-weight: 700;
}

.wrapper {
  height:100%;
  width:100%;
  float: left;
}

.row.wrapper {
  clear:both;
  margin:0.5em 0em;
}

.applet {
  background-color: var(--applet-bg-color);
  border-radius: 10px;
  padding:1em;
  float:left;
  clear:both;

  box-shadow: 4px 4px 20px rgba(10,10,10,0.9);
  margin:0.5rem 0rem 3rem 20rem;

  height: 90%;
  width:50%;
}

header.applet {
  position:fixed;
  left:0.5em;
  top:0.5em;
  margin:0;
  height: auto;
  width:auto;
}

.applet-menu {
 position:absolute;
  top:111%;
  width:90%;
  text-align: center;
}

.menu-item {
  position: relative;
  left:30%;
  display: block;
  clear:both;
  font-size: 2em;
  height:2em;
  width:2em;
  margin:0 0 0.5em 0;
  background-color: var(--applet-bg-color);
  border-radius:5em;
  box-shadow: 4px 4px 20px rgba(10,10,10,0.9), 0px 0px 20px rgba(255,255,255,0);
  cursor:pointer;
  transition: box-shadow 0.1s ease-in-out;
}

.applet a {
  text-decoration: none;
  padding:0;
  margin:0;
}

.menu-item:hover {
  box-shadow: 4px 4px 20px rgba(10,10,10,0.7), 0px 0px 20px rgba(255,255,255,0.9);

}

.menu-item a {
  margin:0.9em 0 1em 0.45em;
  padding:0;
  background:none;
  display: block;
  position:absolute;
  transition: transform 0.4s ease-in-out;

}


.menu-item a:hover {
  transform:rotate(45deg);

}

#site-title {
  padding-bottom: 0.4em;
  margin-bottom:0.1em;
  float:left;
  border-bottom: 1px solid #a0a0a0;
}

#site-title span.number {
  color: var(--light-green);
}

#site-subheading {
  font-size:0.75em;
  display: block;
  float: left;
  clear:both;
  max-width:18em;
}

button:focus {
  text-shadow:0px 0px 4px var(--highlight);
}

input:focus + span {
  text-shadow:0px 0px 6px var(--highlight);
}

.applet button {
  position: relative;
  font-size: 1.25em;
  font-family: mr-eaves-xl-modern-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;

  background-color: var(--button-bg-color);
  padding:0.5em 2em;
  border:none;
  border-radius:40px;
  color:white;
  margin:0 0.25em 0 0em;
}

.applet button.disabled {
  background-color: var(--button-bg-disabled);
  color:#aaa;
}

.applet button:active {
  color:#aaa;
  background-color: var(--button-bg-active);

  padding:0.4em 2em;
  margin:0.1em 0.15em 0.1em 0.1em;
}

.applet button.disabled:active {
  color:#aaa;
  padding:0.5em 2em;
  margin:0 0.25em 0 0em;
  background-color: var(--button-bg-disabled);
}


.applet input:not([type="range"]) {
  background-color:transparent;
  border:1px solid #daddda;
  color:white;
  font-size:6em;
  border-radius: 40px;
  padding:0 0.5em;
  text-align: right;
  width:60%;
}


.large-label, .huge-label {
  vertical-align: middle;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align:center;
  display: inline-block;
  opacity:1;
}

.huge-label {
  font-size: 20em;
}

.large-label {
  margin:0.3em 0.3em;
  font-size: 14em;
}

#counter .row.wrapper {
  width: 100%;
  float: left;
  clear: both;
  text-align: center;
}

#counter #counter-label-row {
  margin:8em 0em 8em 0em;
  transition: transform 0.8s ease-out;
  transform: rotate(0deg);
}

#temperature .row.wrapper span {
  color:white;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 900;
  font-style: normal;
  padding:0 0 0 .25em;
  font-size:4em;
}

#temperature input {
  transition: color 0.8s ease-out;
}

#temperature input.hot {
  color:red;
}

#temperature input.cold {
  color:blue;
}

#flight .row.wrapper, #timer .row.wrapper {
  width: 100%;
display:flex;
  justify-content:center;
}

#flight input {
  font-size:3em;
  text-align: center;
}

#flight-combo-box, #flight-combo-box select {
  color:white;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#flight #flight-combo-box {
  
  width: auto;
  
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 2.5em;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--applet-bg-color);
  background-image: linear-gradient(to top, var(--applet-bg-color),#414251 60%);
  grid-template-areas: "select";
  align-items: center;
  display: grid;
}

select, #flight-combo-box::after {
  grid-area: select;

}

#flight-combo-box::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  display: grid;
  justify-self: end;
}

#flight-combo-box:hover {
  border: 1px solid #fff;
}

#flight-combo-box:hover::after {
  background-color: #fff;
}

input:focus, select:focus {
  border-color: var(--button-bg-active);;
	box-shadow: 0px 0px 1px 2px rgba(220, 153, 252, .7);
	box-shadow: -1 -1 1px 1px -moz-mac-focusring;
	color: #eee;
	outline: none;
} 

input:not([type="range"]).disabled {
  color: var(--button-bg-disabled);
  border-color: var(--button-bg-disabled);
}

input:not([type="range"]).invalid {
  color:red;
}

.applet .info {
  color: var(--gradient-color-1);
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#progress-row {
  position: relative;
  width:100%;
}

.progress {
  position: relative;
  width:100%;
  border:1px solid var(--button-bg-disabled);
  height:2em;
  border-radius:1em;
  overflow: hidden;
}

.progress .progress-inner {
  position: absolute;
  left:0;
  top:0;
  height:100%;
  width:0%;
  
  background:#48B2A2;
  background-image: linear-gradient(0deg,  var(--button-bg-color) 0%, var(--gradient-color-2) 100%);
  transition:width 0.1s linear;
}

#timer-slider-wrapper {
  width:100%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input.slider {
  height: 1em;
  border-radius:1em;
  background: var(--highlight);
  outline: none;
  opacity: 0.8;
  transition: opacity .3s;
}

.slider:hover {
  opacity:1;
}

.slider:hover input[type=range].slider::-moz-range-thumb,
.slider:hover input[type=range].slider::-ms-thumb,
.slider:hoverinput[type=range].slider::-webkit-slider-thumb{
  box-shadow:0px 0px 4px rgba(255, 255, 255, 0.8);
}

input[type=range].slider {
  width: 100%;
  margin: 17.05px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range].slider::-webkit-slider-runnable-track {
  background: rgba(160, 160, 160, 0.8);
  border: 1px solid #515261;
  border-radius: 44px;
  width: 100%;
  height: 9.9px;
  cursor: pointer;
}
input[type=range].slider::-webkit-slider-thumb {
  margin-top: -18.05px;
  width: 44px;
  height: 44px;
  background: rgba(102, 69, 213, 0.9);
  border-radius: 44px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px rgba(0,0,0,0.9);
}

input[type=range].slider::-moz-range-track {
  background: rgba(160, 160, 160, 0.8);
  border: 1px solid #515261;
  border-radius: 44px;
  width: 100%;
  height: 9.9px;
  cursor: pointer;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px rgba(0,0,0,0.9);
  width: 44px;
  height: 44px;
  background: rgba(102, 69, 213, 0.9);
  border-radius: 44px;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 22.25px 0;
  color: transparent;
  width: 100%;
  height: 9.9px;
  cursor: pointer;
}
input[type=range].slider::-ms-fill-lower {
  background: #7a7a7a;
  border: 1px solid #515261;
  border-radius: 88px;
}
input[type=range].slider::-ms-fill-upper {
  background: rgba(160, 160, 160, 0.8);
  border: 1px solid #515261;
  border-radius: 88px;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px rgba(0,0,0,0.9);
  width: 44px;
  height: 44px;
  background: rgba(102, 69, 213, 0.9);
  border-radius: 44px;
  cursor: pointer;
  margin-top: 0px;
}

@supports (-ms-ime-align:auto) {
  input[type=range].slider {
    margin: 0;
  }
}


#crud label {
  font-size: 1.5em;
  color:white;
  padding:0 0.5em 0 0;
}

#crud input {
  background-color:transparent;
  border:1px solid #daddda;
  color:white;
  font-size:1.5em;
  border-radius: 40px;
  padding:0 0.5em;
  text-align: left;
  width:40%;
}


#crud #crud-left .row.wrapper {
  display: block;
  float:left;
  clear:both;
  width: 100%;
}

#crud-left {
  float:left;
}

#crud-right {
  float:right;
  position: relative;
}

#crud-right .row.wrapper:first-child {
  margin-bottom: 4.5em;
}

#crud-right img {
  display: block;
  width:35%;
    height: auto;
    position: absolute;
    top:0;
    left:40%;
    border:1px solid var(--highlight);
    border-radius:200px;
}

#crud-right label {
  display: block;
  float:left;
  text-align: right;
  width:30%;
  padding:0.34em 0.2em 0.5em 0;
}

#crud-right input {
  width:60%;
}

#crud-right input {
  float:left;
}

#crud-right .row.wrapper:first-child {
  width:100%;
  height:2em;
}

#crud #crud-left, #crud #crud-right {
  width:48%;
}

#crud select {
  width:100%;
  color:white;
  border:1px solid white;
  border-radius:0.5em;
  padding:0.25em 0em 0.25em 0.5em;

}

#circles .info {
  
}

#circles-canvas {
  background-color:white;
  border:1px solid var(--highlight);
  border-radius: 10px;
  margin-top:1em;
  display: block;
  width:100%;
  float:left;
  clear:both;
  height: 400px;
}

#undo-row button {
  float:left;
}

#circle-slider-wrapper {
  float:right;
  width:50%;
}

circle {
  fill:transparent;
}

circle:hover {
  fill:rgba(220,153,252,0.7);
}

.selected-circle {
  fill:rgba(220,153,252,0.7);
}

.selected-circle:hover {
  fill:rgba(220,153,252,0.8);
}

/* circle {
  transition: scale 0.25s ease-in-out;
}

circle:hover {
  scale:1.05;
} */

#spreadsheet {
  overflow:scroll;
  max-height:22em;
}

#spreadsheet .row.wrapper:first-child {
  /* position: sticky;
  left:0;
  top:0; */
}


#spreadsheet .row.wrapper:first-child span:first-child {
  color:var(--cell-label-bg);
  z-index: 100;

}

#spreadsheet .row.wrapper {
  float:left;
  clear:both;
  display: flex;
  padding:0;
  margin:0;
}

#spreadsheet .row.wrapper .row-label {
  text-align:right;
  width:2em;
  display: block;
  flex-shrink: 0;
  padding:0.25em 0.2em 0.25em 0em;
  background-color:var(--cell-label-bg);
  border:1px solid var(--highlight);
  position:sticky;
  left:0;
}

#spreadsheet .row.wrapper .col-label {
  text-align:right;
  display: block;
  width:var(--cell-max-width);
  border:1px solid var(--highlight);
  font-family: courier-prime, monospace;
  font-size:1em;
  flex-shrink: 0;
  padding:0.25em;
  background-color:var(--cell-label-bg)

}

#spreadsheet .row.wrapper input {
  border-radius:0;
  float:left;
  width:var(--cell-max-width);
  height:1em;
  font-size:1em;
  padding:0.25em;
}

#spreadsheet .row.wrapper input.selected {
  background-color:var(--button-bg-color);
}

#cells-toolbar input, #cells-toolbar span, #cells-toolbar button {
  padding:0.5em 0;
}

#cells-toolbar {
  display: block;
  margin:0.25em 0;
}

#cells-toolbar input {
  width:30%;
  height:1em;
  font-size:1em;
  float:none;
  text-align: left;
  padding:0.25em;
}

#clippy {
  background-image: url("https://jester.cafe/wp-content/uploads/2021/04/clippy-head-scratch.gif");
  width:100px;
  height:94px;
  position:absolute;
  margin-left:80%;
  z-index: 100;
  cursor:grab;
  background-size: contain;
  opacity:0.95;
  transition: opacity 0.33s ease-in-out;
}

#clippy:hover {
  opacity:1;
}

#clippy:hover::after {
  content: "Cells is not finished yet but it will be soon 😊. For now you can only drag me around. In a future version I might achieve sentience 😏.";
  position: absolute;
  display: block;
  border:1px solid black;
  background-color:#ffffcc;
  color:black;
  padding:1em;
  border-radius:6px;
  width:15em;
  top:-170px;
  left:-6em;
  box-shadow: 4px 4px 20px rgba(10,10,10,0.9);
  text-align: center;
}

#clippy:active {
  cursor:grabbing;
}


@media (min-width: 1px) and (max-width: 1024px) {
  

  .applet {
    margin:0.5rem 0rem 3rem 1rem;
  
    height: 90%;
    width:85%;
  }

header.applet {
  position:relative;
  float:left;
  margin:0.5em 0.5em 1.5em 0.5em;
  height: auto;
  width:auto;
  max-width: 14em;
}

header.applet #site-subheading {
  max-width:100%;
}

.applet-menu {
  position:absolute;
  width:200%;
   text-align: center;
   top:0px;
   left:45%;
   font-size: 0.8em;
   
 }
 
 .menu-item {
   position: relative;
   float:left;
   display: block;
   clear:none;
   font-size: 2em;
   height:2em;
   width:2em;
   margin:1em 0.2em 0.5em 0.2em;
   background-color: var(--applet-bg-color);
   border-radius:5em;
   box-shadow: 4px 4px 20px rgba(10,10,10,0.9), 0px 0px 20px rgba(255,255,255,0);
   cursor:pointer;
   transition: box-shadow 0.1s ease-in-out;
 }
  
}